/* RESPONSIVE DESIGN - USING CSS VARIABLES
-------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1400px) {
    #myCarousel .carousel-inner .carousel-item p {
        font-size: var(--carousel-font-large);
    }
}

@media only screen and (max-width: 988px) {
    .login-margin {
        margin-top: var(--login-margin-top);
    }
}

@media only screen and (max-width: 802px) {
    #myCarousel .carousel-inner .carousel-item p {
        font-size: var(--carousel-font-medium);
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: var(--placeholder-font-large);
    }

    .card card-text {
        font-size: 200px !important;
    }
}

@media only screen and (max-width: 575px) {
    #myCarousel .carousel-inner .carousel-item p {
        font-size: var(--carousel-font-small);
    }

    .carousel-item {
        height: var(--carousel-height-mobile);
    }

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--carousel-image-height-mobile);
    }
}

@media only screen and (max-width: 510px) {
    .carousel-item {
        height: var(--carousel-height-small);
    }

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--carousel-image-height-small);
    }

    #myCarousel .carousel-inner .carousel-item p {
        font-size: var(--carousel-font-tiny);
    }
}