/* UTILITY CLASSES
-------------------------------------------------------------------------------------------------- */

.field_error {
    color: var(--error-color);
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

#after-rent {
    display: none;
}

#sidebar-nav {
    width: var(--sidebar-width);
}

/* BASE STYLES */
html {
    scroll-behavior: smooth;
}
