/* BOOK CARDS COMPONENT
-------------------------------------------------------------------------------------------------- */

.overlay {
    position: absolute;
    left: 49.9%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.rent-btn {
    justify-content: center;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-light);
    font-weight: 700;
    width: var(--rent-btn-width);
    border-radius: var(--rent-btn-radius) !important;
    box-shadow: var(--card-shadow);
}

.rent-btn:hover {
    color: var(--text-light);
    background-color: var(--secondary-hover);
    transition: var(--transition-ease) var(--transition-fast);
}

.card:hover .overlay {
    visibility: visible;
    animation: fade var(--transition-medium);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bookCardName a {
    color: var(--text-dark);
}
