/* CAROUSEL COMPONENT
-------------------------------------------------------------------------------------------------- */

.bd-placeholder-img {
    font-size: var(--placeholder-font-normal);
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.carousel {
    margin-bottom: var(--carousel-margin-bottom);
}

.carousel-caption {
    bottom: var(--carousel-caption-bottom);
    z-index: var(--z-index-carousel-caption);
}

.carousel-item {
    height: var(--carousel-height);
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--carousel-image-height);
}

.carousel-justify {
    flex-wrap: wrap;
}
