/* NAVBAR COMPONENT
-------------------------------------------------------------------------------------------------- */

.navbar-toggler:focus {
    box-shadow: none !important;
}

.dropdown-item-text:hover {
    color: var(--text-muted) !important;
}

.login-btn:hover {
    background-color: var(--background-black) !important;
}

.search-btn:hover {
    background-color: var(--background-gray) !important;
    border-radius: 100px !important;
}

.dropdown-divider {
    color: var(--text-light) !important;
}
