/* SCROLL TO TOP BUTTON COMPONENT
-------------------------------------------------------------------------------------------------- */

#ScrollUpBtn {
    position: fixed;
    right: var(--scroll-btn-right);
    bottom: var(--scroll-btn-bottom);
    height: var(--scroll-btn-size);
    width: var(--scroll-btn-size);
    border: none;
    border-radius: var(--scroll-btn-radius);
    text-align: center;
    cursor: pointer;
    z-index: var(--z-index-scroll-btn);
    outline: none;
    display: none;
    background: var(--primary-color);
}

#ScrollUpBtn:hover {
    background-color: var(--primary-hover);
}
